[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
server = "uvicorn main:app"
dev = "uvicorn main:app --reload"
format = "black . --line-length 120 --exclude (datasets)"
build = "pyinstaller ./main.spec"

[packages]
numpy = "*"
joblib = "*"
pandas = "*"
scikit-learn = "*"
requests = "*"
beautifulsoup4 = "*"
pydantic = "*"
uvicorn = "*"
fastapi = {extras = ["all"], version = "*"}
python-whois = "*"
cryptography = "*"
selenium = "*"
webdriver-manager = "*"
opencv-python = "*"
skimage = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.13"
